@echo OFF

REM  Command File for building the Calibre2opds install packages
REM
REM The following specifies the ZIP program to use
REM (it is recommended that the GNU ZIP for Windows is used)
REM If not on the search path, then the full path must be used.

SET VERSION=calibre2opds-2.4-beta2
SET ZIPPROG=zip
SET ZIPFILE=%cd%\%VERSION%.zip

echo '
echo -------------------------------
echo Building ZIP Install
echo -------------------------------
echo '

if exist "%ZIPPROG%" goto ZIP_OK
echo Unable to find ZIP program %ZIPPROG%
echo Press CTRL-C to quit, and other key to continue
pause
goto LINUX

:ZIP_OK
del %ZIPFILE%
"%ZIPPROG%"  "%ZIPFILE%" licence.txt   readme.txt   release.txt
cd script
"%ZIPPROG%"  "%ZIPFILE%" *
cd ..
cd brand
"%ZIPPROG%" "%ZIPFILE%" calibre2opds.ico                   calibre2opds-icon.png           calibre2opds-icon_64.png   
"%ZIPPROG%" "%ZIPFILE%" calibre2opds-icon_192.png      calibre2opds-icon-small_32.ico  calibre2opds-text-icon.ico
"%ZIPPROG%" "%ZIPFILE%" calibre2opds-text-icon_64.png
cd ..
cd Install\target\Dependency
"%ZIPPROG%" "%ZIPFILE%"  OpdsOutput-2.4-SNAPSHOT.jar  DataModel-2.4-SNAPSHOT.jar    Tools-2.4-SNAPSHOT.jar
"%ZIPPROG%" "%ZIPFILE%"  jdom-1.1.jar   junit-4.7.jar  log4j-1.2.12.jar    sqlite-jdbc-3.6.17.1.jar    jtidy-4aug2000r7-dev.jar
cd ..\..\..\

:LINUX
echo deleting %VERSION%.jar
del %VERSION%.jar
echo '
echo -------------------------------
echo Building Unix/Linux Install.jar
echo -------------------------------
echo '
cmd /c c:\java\IzPack\bin\compile.bat install.xml
ren install.jar %VERSION%.jar
echo '
echo ----------------------------
echo Building Windows Install.exe
echo ----------------------------
echo '
C:\Java\IzPack\utils\wrappers\izpack2exe\izpack2exe --file=%VERSION%.jar --output=%VERSION%.exe --with-7z=C:\Java\IzPack\utils\wrappers\izpack2exe\7za.exe --with-upx=C:\Java\IzPack\utils\wrappers\izpack2exe\upx.exe
echo '
echo ----------------------------------------
echo Completed building Calibre2Opds Installs
echo ----------------------------------------
echo '
