<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>Calibre2Opds v3.1</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Gui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Calibre2Opds</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/OpdsOutput-3.1-SNAPSHOT.jar</string>
			<string>$JAVAROOT/CalibreQueryLanguage-3.1-SNAPSHOT.jar</string>
			<string>$JAVAROOT/DataModel-3.1-SNAPSHOT.jar</string>
			<string>$JAVAROOT/Tools-3.1-SNAPSHOT.jar</string>
			<string>$JAVAROOT/antlr-2.7.7.jar</string>
			<string>$JAVAROOT/antlr-runtime-3.1.3.jar</string>
			<string>$JAVAROOT/jdom-1.1.jar</string>
			<string>$JAVAROOT/jtidy-r938.jar</string>
			<string>$JAVAROOT/junit-4.7.jar</string>
			<string>$JAVAROOT/log4j-1.2.12.jar</string>
			<string>$JAVAROOT/sqlite-jdbc-3.6.17.1.jar</string>
			<string>$JAVAROOT/stringtemplate-3.2.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>Gui</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms128m -Xmx512m</string>
	</dict>
</dict>
</plist>